__pycache__/
*.py[cod]
venv/
node_modules/
dist/
.env
package-lock.json
!backend/.env.example
backend/app/uploads/*
backend/app/outputs/*
backend/app/temp/*
backend/app/logs/*
!backend/app/uploads/.gitkeep
!backend/app/outputs/.gitkeep
!backend/app/temp/.gitkeep
!backend/app/logs/.gitkeep
